extends layout

block content
  h1 #{title}
  div
    ul(class='posts')
      - for (let i = 0; i < posts.length; i++) {
        li
          div(class='blog_title') #{posts[i].dataValues.collection.dataValues.title}
          div(class='post_title')
            a(href="/#{posts[i].dataValues.collection.dataValues.alias}/#{posts[i].dataValues.slug}") #{posts[i].dataValues.title}
          div(class='author') written by 
            a(href="/#{posts[i].dataValues.collection.dataValues.alias}") @#{posts[i].dataValues.collection.dataValues.alias}
          div(class='updated') #{moment(posts[i].dataValues.updated).format('YYYY年MM月DD日 HH時mm分ss秒')}
      - }
